@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-areas: 'aside main';
  grid-template-columns: 280px 1fr;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
